@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nunito-font: 'Nunito', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} 

body{
  font-family: var(--nunito-font);
}
.container{
  max-width: 80vw;
  width: 100%;
  margin-inline:auto;
}